<div class="harlem">
  Create a merchant account
</div>

<%= form_for(@payment, url: user_payment_settings_path) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= render 'errors/payment_setting_errors' %>
  <div class="field">
    <div class="one-thirds">
      <%= f.label :first_name %>
    </div>
    <div class="two-thirds">
      <%= f.text_field :first_name, class: "text-field" %>
    </div>
  </div>
  <div class="field">
    <div class="one-thirds">
      <%= f.label :last_name %>
    </div>
    <div class="two-thirds">
      <%= f.text_field :last_name, class: "text-field" %>
    </div>
  </div>
  <div class="field">
    <div class="one-thirds">
      <%= f.label :background_color %>
    </div>
    <div class="two-thirds">
      <%= f.text_field :background_color, class: "text-field" %>
    </div>
  </div>
  <div class="field">
    <div class="one-thirds">
      <%= f.label :link_color %>
    </div>
    <div class="two-thirds">
      <%= f.text_field :link_color, class: "text-field" %>
    </div>
  </div>
  <div class="field">
    <div class="one-thirds">
      <%= u.label :hover_color %>
    </div>
    <div class="two-thirds">
      <%= u.text_field :hover_color, class: "text-field" %>
    </div>
  </div>
<% end %>
<div class="harlem">
  by registering your account, you agree to our <%= link_to 'Terms of Use', terms_of_use_path  %> and the <a href="https://stripe.com/connect/account-terms">Stripe Connected Account Agreement</a>.
</div>