<%= @user.username unless @user.profile.first_name.present? || @user.profile.last_name.present? %> <%= @user.profile.first_name if @user.profile.first_name.present? %> <%= @user.profile.last_name if @user.profile.last_name.present? %> - <%= @user.followers.count %></br>

<% if user_signed_in? && current_user != @user %>
  <div>
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
               html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "Follow" %>
      <% end %>
    <% end %>
  </div>
<% end %>



<aside class="sidebar">
  <div class="one-space">
    <%= "Age: " + @user.profile.age.to_s if @user.profile.age.present? %>
  </div>
  <div class="one-space">
    <%= link_to "Website", @user.profile.website if @user.profile.website.present? %>
  </div>

  <% if user_signed_in? && current_user == @user %>
    <%= form_for(@profile, url: user_profile_path(@user)) do |f| %>
      <%= render 'partials/errors/profile_errors' %>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :age %><br />
        <%= f.text_field :age %>
      </div>
      <div class="field">
        <%= f.label :website %><br />
        <%= f.text_field :website %>
      </div>
      <div class="field">
        <%= f.label :facebook_handle %><br />
        <%= f.text_field :facebook_handle %>
      </div>
      <div class="field">
        <%= f.label :facebook_url %><br />
        <%= f.text_field :facebook_url %>
      </div>
      <div class="field">
        <%= f.label :twitter_handle %><br />
        <%= f.text_field :twitter_handle %>
      </div>
      <div class="field">
        <%= f.label :twitter_url %><br />
        <%= f.text_field :twitter_url %>
      </div>
      <div class="field">
        <%= f.label :instagram_handle %><br />
        <%= f.text_field :instagram_handle %>
      </div>
      <div class="field">
        <%= f.label :instagram_url %><br />
        <%= f.text_field :instagram_url %>
      </div>
      <div class="field">
        <%= f.label :instagram_url %><br />
        <%= f.text_area :instagram_url %>
      </div>

       <%= f.submit "Update profile", data: { disable_with: 'Updating...' } %>
    <% end %>
  <% end %>

</aside>

<main class="content">
  heyyyy
</main>



<%= form_for(Album.new, url: user_albums_path(@user)) do |f| %>
  <div class="field">
    <%= f.label :title, class: "label" %><br />
    <%= f.text_field :title, class: "text-field" %>
  </div>
  <%= f.submit "Create photo album", data: { disable_with: 'Creating...' }, class: "submit-button" %>
<% end %>
<%= @user.albums.count %> - <%= @user.photos.count %>
<% @user.albums.each do |album| %>
  <%= album.title %> - <%= album.id %>

  <%= form_for(Photo.new, url: user_album_photos_path(@user, album)) do |f| %>
    <div class="field">
      <%= f.label :title, class: "label" %><br />
      <%= f.text_field :title, class: "text-field" %>
    </div>
    <div class="field">
      <%= f.label :image, class: "label" %><br />
      <%= f.hidden_field :image, value: Photo.new.cached_image_data %>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :description, class: "label" %><br />
      <%= f.text_area :description, class: "text-area" %>
    </div>
    <%= f.submit "Create photo", data: { disable_with: 'Creating...' }, class: "submit-button" %>
  <% end %>

  <%= album.photos.count %>

  <% album.photos.each do |photo| %>
    <%= photo.title %></br>
    <img src="<%= photo.image_url(:thumb) %>">

    <% if user_signed_in? && current_user.voted?(photo) %>
      <%= button_to "−", user_album_photo_vote_path(@user, album, photo, current_user.vote_id(photo)), method: :delete, data: { disable_with: '...' }, class: "linwood" %>
    <% else %>
      <%= form_for(Vote.new, url: user_album_photo_votes_path(@user, album, photo)) do |f| %>
        <%= f.submit "+", data: { disable_with: '...' }, class: "linwood" %>
      <% end %>
    <% end %>

    <%= photo.votes.count %>

  <% end %>

<% end %>