<%= @user.username %> - <%= @user.followers.count %>

<% if user_signed_in? && current_user != @user %>
  <div>
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
               html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "Follow" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= form_for(Album.new, url: user_albums_path(@user)) do |f| %>
  <div class="field">
    <%= f.label :title, class: "label" %><br />
    <%= f.text_field :title, class: "text-field" %>
  </div>
  <%= f.submit "Create photo album", data: { disable_with: 'Creating...' }, class: "submit-button" %>
<% end %>
<%= @user.albums.count %> - <%= @user.photos.count %>
<% @user.albums.each do |album| %>
  <%= album.title %> - <%= album.id %>

  <%= form_for(Photo.new, url: user_album_photos_path(@user, album)) do |f| %>
    <div class="field">
      <%= f.label :title, class: "label" %><br />
      <%= f.text_field :title, class: "text-field" %>
    </div>
    <div class="field">
      <%= f.label :photo, class: "label" %><br />
      <%= f.file_field :photo %>
    </div>
    <div class="field">
      <%= f.label :description, class: "label" %><br />
      <%= f.text_area :description, class: "text-area" %>
    </div>
    <%= f.label :cover_photo %>
    <%= f.check_box :cover_photo %>
    <%= f.label :profile_photo %>
    <%= f.check_box :profile_photo %><br />

    <%= f.submit "Create photo", data: { disable_with: 'Creating...' }, class: "submit-button" %>
  <% end %>

  <%= album.photos.count %>

  <% album.photos.each do |photo| %>
    <%= photo.title %>
  <% end %>

<% end %>