<%= @user.username %> - <%= @user.followers.count %>

<% unless current_user == @user %>
  <div>
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
               html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "Follow" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% unless @user.gallery.present? %>
  <% if current_user == @user %>
    <%= form_for(Gallery.new, url: user_gallery_path(@user)) do |f| %>
      <%= f.submit "Create gallery", data: { disable_with: 'Creating...' }, class: "submit-button" %>
    <% end %>
  <% end %>
<% end %>

<% if @user.gallery.present? %>
  you have a gallery
<% end %>