<div class="wrapper">
  <div class="container">

<img src="<%= @user.profile.image_url(:thumb) %>"></br>

<div class="large-text five-space">
  <%= @user.username unless @user.profile.first_name.present? || @user.profile.last_name.present? %> <%= @user.profile.first_name if @user.profile.first_name.present? %> <%= @user.profile.last_name if @user.profile.last_name.present? %><span class="tiny-text"> - <%= @user.followers.count %> followers</span>
</div>

<% if user_signed_in? && current_user != @user %>
  <div>
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
               html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow", class: "submit-button" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "Follow", class: "submit-button" %>
      <% end %>
    <% end %>
  </div>
<% end %>



<aside class="sidebar">

  <% if user_signed_in? && current_user == @user %>

    <div id="edit-profile">
      Edit profile
    </div>
    <div id="close-profile">
      Close
    </div>

    <div id="profile-form">
      <%= form_for(@profile, url: user_profile_path(@user)) do |f| %>
        <%= render 'partials/errors/profile_errors' %>
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :image %><br />
          <%= f.hidden_field :image, value: Photo.new.cached_image_data %>
          <%= f.file_field :image %>
        </div>
        <div class="field">
          <%= f.label :age %><br />
          <%= f.text_field :age, class: "text-field" %>
        </div>

        <%= fields_for :location, @location do |u| %>
          <div class="field">
            <%= u.label :city %><br />
            <%= u.text_field :city, class: "text-field" %>
          </div>
          <div class="field">
            <%= u.label :state %><br />
            <%= u.text_field :state, class: "text-field" %>
          </div>
          <div class="field">
            <%= u.label :country %><br />
            <%= u.text_field :country, class: "text-field" %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :website %><br />
          <%= f.text_field :website, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :facebook_handle %><br />
          <%= f.text_field :facebook_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :facebook_url %><br />
          <%= f.text_field :facebook_url, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :twitter_handle %><br />
          <%= f.text_field :twitter_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :twitter_url %><br />
          <%= f.text_field :twitter_url, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :instagram_handle %><br />
          <%= f.text_field :instagram_handle, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :instagram_url %><br />
          <%= f.text_field :instagram_url, class: "text-field" %>
        </div>
        <div class="field">
          <%= f.label :biography %><br />
          <%= f.text_area :biography, class: "text-area" %>
        </div>

          <%= fields_for :theme, @theme do |u| %>
            <div class="field">
              <%= u.label :main_color %><br />
              <%= u.text_field :main_color, class: "text-field" %>
            </div>
            <div class="field">
              <%= u.label :text_color %><br />
              <%= u.text_field :text_color, class: "text-field" %>
            </div>
            <div class="field">
              <%= u.label :background_color %><br />
              <%= u.text_field :background_color, class: "text-field" %>
            </div>
            <div class="field">
              <%= u.label :link_color %><br />
              <%= u.text_field :link_color, class: "text-field" %>
            </div>
          <% end %>

         <%= f.submit "Update profile", data: { disable_with: 'Updating...' } %>
      <% end %>
    </div>
  <% end %>

  <div class="one-space">
    <%= "Age: " + @user.profile.age.to_s if @user.profile.age.present? %>
  </div>
  <div class="one-space">
    <%= "Location: " + @user.location.city if @user.location.city.present? %><%= ", " + @user.location.state if @user.location.state.present? %><%= ", " + @user.location.country if @user.location.country.present? %>
  </div>
  <div class="one-space">
    <%= link_to "Website", @user.profile.website if @user.profile.website.present? %>
  </div>

</aside>

<main class="content">
  heyyyy
</main>



<%= form_for(Album.new, url: user_albums_path(@user)) do |f| %>
  <div class="field">
    <%= f.label :title, class: "label" %><br />
    <%= f.text_field :title, class: "text-field" %>
  </div>
  <%= f.submit "Create photo album", data: { disable_with: 'Creating...' }, class: "submit-button" %>
<% end %>
<%= @user.albums.count %> - <%= @user.photos.count %>
<% @user.albums.each do |album| %>
  <%= album.title %> - <%= album.id %>

  <%= form_for(Photo.new, url: user_album_photos_path(@user, album)) do |f| %>
    <div class="field">
      <%= f.label :title, class: "label" %><br />
      <%= f.text_field :title, class: "text-field" %>
    </div>
    <div class="field">
      <%= f.label :image, class: "label" %><br />
      <%= f.hidden_field :image, value: Photo.new.cached_image_data %>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :description, class: "label" %><br />
      <%= f.text_area :description, class: "text-area" %>
    </div>
    <%= f.submit "Create photo", data: { disable_with: 'Creating...' }, class: "submit-button" %>
  <% end %>

  <%= album.photos.count %>

  <% album.photos.each do |photo| %>
    <%= photo.title %></br>
    <img src="<%= photo.image_url(:thumb) %>">

    <% if user_signed_in? && current_user.voted?(photo) %>
      <%= button_to "−", user_album_photo_vote_path(@user, album, photo, current_user.vote_id(photo)), method: :delete, data: { disable_with: '...' }, class: "linwood" %>
    <% else %>
      <%= form_for(Vote.new, url: user_album_photo_votes_path(@user, album, photo)) do |f| %>
        <%= f.submit "+", data: { disable_with: '...' }, class: "linwood" %>
      <% end %>
    <% end %>

    <%= photo.votes.count %>

  <% end %>

<% end %>

  </div>
</div>
